.cont {
    width: 100%;
    height: 85dvh;
    overflow: scroll;
    margin: 0%;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.cont::-webkit-scrollbar {
    display: none;
}

.show {
    filter: none;
}

.hide {
    filter: blur(4px);
}

.saveCont {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.saveCont button {
    padding: 0%;
    margin-bottom: 15%;
    width: 90%;
    font-weight: bold;
    /* background: linear-gradient(180deg, var(--light-main), var(--main)); */
    background: linear-gradient(90deg, var(--main), var(--lighter-main), var(--main));
    background-size: 200% 100%;
    animation: moveGradient 3s linear infinite;
    /* border: solid 1px white; */
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes moveGradient {
    from {
        background-position: 0% 0%;
    }

    to {
        background-position: 200% 0%;
    }
}

.showSave {
    display: flex;
    animation: showButton 0.1s linear;
}

.hideSave {
    display: none;
}

@keyframes showButton {
    from {
        scale: 0.95;
        opacity: 0;
    }

    to {
        scale: 1.05;
        opacity: 1;
    }
}