.cont {
    background-color: var(--bg-secondary);
    margin: 5px;
    border-radius: 10px;
    padding: 3%;
}

.time {
    color: var(--text-main);
    padding-left: 10px;
    width: 100%;
    align-content: center;
    border-radius: 5px;
    font-size: 14px;
}

.upperCont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--main);
    border-radius: 10px;
}

.btnCont {
    display: block;
}

.btnContOff {
    display: none;
}

.upperCont button {
    background: linear-gradient(180deg, var(--light-main), var(--main));
    font-size: 1.5rem;
    height: 30px;
}