.cont {
    width: 100%;
    height: 85dvh;
    overflow: scroll;
    margin: 0%;

    -ms-overflow-style: none;
    scrollbar-width: none;
}

.cont::-webkit-scrollbar {
    display: none;
}

.show {
    filter: none;
}

.hide {
    filter: blur(2px);
}