.cont {
    background-color: var(--bg-extra);

    color: var(--text-alt);
    width: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: min-content;
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
}

.contPremium {
    background: linear-gradient(180deg, var(--bg), hsl(30, 80%, 40%), var(--bg));
    background-size: 100% 200%;
    animation: moveGradient 3s linear infinite;
}

.checked {
    background-color: hsla(0, 0%, 0%, 0.10);
    color: hsla(0, 0%, 100%, 0.25);
}

h3 {
    margin-left: 5px;
    font-size: 12px;
}

.leftCont {
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 0%;
    /* border: solid 1px white; */
}

.leftCont div {
    transform: translateY(1px);
    color: var(--lighter-main);
}

@keyframes moveGradient {
    from {
        background-position: 0% 0%;
    }

    to {
        background-position: 0% 200%;
    }
}