.cont {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    /* border: solid 1px white; */
    border-radius: 10px;
}

.show {
    display: flex;
}

.hide {
    display: none;
}

.capsule {
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
    border: none;
    width: 26px;
    height: 16px;
    margin: 3px;
    /* border: solid 1px hsl(0, 0%, 20%); */
    background: linear-gradient(hsl(0, 0%, 30%), var(--bg-secondary));
    border-radius: 5px;
    transform: scale(1.2);

}

.capsule:hover {
    background: linear-gradient(180deg, hsl(0, 0%, 35%), var(--bg-extra));
}

.red {
    animation: popColor 0.1s;
    background: linear-gradient(180deg, hsl(0, 45%, 40%), hsl(0, 65%, 15%)) !important;
}

.yellow {
    animation: popColor 0.1s;
    background: linear-gradient(180deg, hsl(50, 50%, 50%), hsl(50, 70%, 10%)) !important;
}

.green {
    animation: popColor 0.1s;
    background: linear-gradient(180deg, hsl(110, 60%, 50%), hsl(110, 70%, 10%)) !important;
}

@keyframes popColor {
    from {
        scale: 0.75;
    }

    to {
        scale: 1.125;
    }
}