.cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-extra);
    box-shadow: 0px 5px 25px hsla(0, 0%, 0%, 0.5);
    height: 35dvh;
    width: 90%;
    border-radius: 50px;
    /* border: solid 1px white; */
}

.lowerCont {
    width: 50%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 25px;
}

.Btn button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    padding: 5px;
    background-color: var(--main);
    border-radius: 15px;
}

.Btn button:active {
    background-color: var(--light-main);
}

.cancel {
    width: inherit;
    display: flex;
    justify-content: end;
    padding-right: 20px;
    position: absolute;
    top: 30px;
}

.upperCont {
    margin-top: 20px;
}