.cont {
    height: 40vh;
    width: 100%;
    max-width: 500px;
    min-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    position: absolute;
    transform: translateY(-5dvh);
}

.show {
    display: flex;
}

.hide {
    display: none;
}