.cont {
    border-radius: 30px;
    padding: 10px;
    border: none;
    background-color: var(--bg-extra-secondary);
    color: var(--text-main);
    transform: translateX(6px);
    padding: 5px;
    font-size: 14px;
}

.cont:focus {
    outline: solid 2px var(--light-main);
}

.show {
    display: auto;
}

.hide {
    display: none;
}