.cont {
    background-color: var(--bg-extra-secondary);
    color: var(--text-main);
    width: 75%;
    border: none;
    border-radius: 20px;
    padding: 10px;
    font-size: 14px;
}

.cont:focus {
    outline: solid 2px var(--light-main);
}

/* .alone {
    width: 90%;
}

.notAlone {
    width: 55%;
} */