.show {
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide {
    display: none;
}

.messageCont {
    position: absolute;
    width: 100%;
    /* border: solid 1px white; */
}

.messageCont pre {
    display: block;
    font-family: sans-serif;
    color: var(--text-extra);
    text-align: center;
    font-size: 18px;
}

.hideMessage {
    display: none;
}