.icon {
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
    background: transparent;
    color: #ccc;
    border: none;
    border-radius: 40px;
    width: 50px;
    height: 50px;
    padding: 0px;
    font-size: 1.5rem;
    margin: 5px;
}

.icon p {
    font-size: 0.6rem;
    margin-left: 5px;
}

.icon:hover {
    color: #eee;
}


.on {
    color: var(--light-main);

}

.on:hover {
    color: var(--lighter-main);
}

.off {
    color: #ccc;
}