.cont {
    height: fit-content;
    box-shadow: 0px 0px 10px #00000050;
    border-radius: 25px;
    padding: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.cont h3 {
    text-align: center;
    width: 40px;
    margin: 0%;
}

.weeksCont {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 5px;
    margin-bottom: 10px;
}

.daysCont {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 5px;
}