.cont {
    display: flex;
    flex-direction: column;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 2px 5px #00000050;
    border-radius: 10px;
    background-color: var(--bg-extra);
}

.cont h2 {
    transform: translateY();
    font-size: 0.75rem;
    margin: 0%;
}

.cont p {
    position: absolute;
    transform: translateY(10px);
    margin: 0%;
    font-size: 0.33rem;
    color: var(--text-main);
}

.today {
    box-shadow: 0px 0px 10px var(--lighter-main);
    outline: solid 1px var(--light-main);
}