.cont {
  height: 20px;
  margin-bottom: 30px;
  display: flex;
  justify-content: left;
  align-items: center;
  /* border: solid 1px white; */
}

.cont h1 {
  font-size: 0.75rem;
}

.cont button {
  transform: translateY(3px);
  height: 20px;
  width: 20px;
  /* background-color: rgba(0, 255, 255, 0.171); */
  font-size: 1rem;
}