@keyframes spin {
    from {
        opacity: 0.2;
        transform: rotate(0deg);
    }

    to {
        opacity: 1;
        transform: rotate(360deg);
    }

}

.loader {
    animation: spin 1.5s ease-in-out infinite;
    height: 50px;
    width: 50px;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    color: var(--light-main);
}

.on {
    display: flex;
}

.off {
    display: none;
}