.cont {
    background-color: var(--bg);
    position: fixed;
    bottom: 0%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 60px;
    width: 100%;
    padding: 0%;
    z-index: 2;
    /* border-top: solid 3px var(--light-main); */
}


.plusCont {
    padding: 0%;
    padding-bottom: 4px;
    margin-bottom: -5px;
    background-color: var(--main);
    transform: translateY(-10px);
    border: solid 4px var(--bg);
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

.plusCont button {
    margin: 0%;
    margin-top: 5px;
    width: 60px;
    height: 60px;
}