.cont {
    position: absolute;
    bottom: 0%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.plusCont {
    padding: 3px;
    background-color: rgb(40, 115, 185);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}