.cont {
    position: fixed;
    background-color: transparent;
    bottom: 0%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    backdrop-filter: blur(20px);
    height: 9dvh;
    width: 100%;
    z-index: 2;
}

.plusCont {
    padding: 3px;
    background-color: rgb(40, 115, 185);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}