.cont {
    position: fixed;
    background-color: transparent;
    bottom: 0%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    backdrop-filter: blur(20px);
    height: 60px;
    width: 100%;
    padding: 0%;
    z-index: 2;
}


.plusCont {

    margin-bottom: -5px;
    background-color: rgb(40, 115, 185);
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

.plusCont button {
    margin: 0%;
    margin-top: 5px;
    width: 60px;
    height: 60px;

}