.cont {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(20px);
    width: 100%;
    height: 9dvh;
    margin-bottom: 25px;
    z-index: 2;
}

.title {
    margin-left: 15px;
    font-family: sans-serif;
    font-size: 1rem;
}

.rightCont {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    width: 150px;
    height: 35px;
    /* border: solid 1px white; */
}

.rightCont button {
    scale: 0.8;
}