.cont {
    background-color: var(--bg);
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
    z-index: 5;
}

.title {
    margin-left: 15px;
    font-family: sans-serif;
    font-size: 18px;
}

.rightCont {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(5px);
    margin-right: 10px;
    width: 85px;
    height: 35px;
}

.rightCont button {
    position: absolute;
    right: 10px;
    width: 40px;
    height: 40px;
    margin: 0%;
    font-size: 1.25rem;
}

.editBtn {
    width: 70px;
    height: 30px;
}

.editBtn button {
    font-size: 1.5rem;
    height: inherit;
    justify-content: center;
    align-items: center;
    width: inherit;
    transform: translate(-50px, -8px);
    display: flex;
    background-color: var(--bg-secondary);
}

.showEdit {
    display: block;
}

.hideEdit {
    display: none;
}