.cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0;
}

.title {
    margin-left: 15px;
    font-family: sans-serif;
    font-size: 1rem;
}