:root {
  --bg: hsl(0, 0%, 5%);
  --bg-secondary: hsl(0, 0%, 10%);
  --bg-extra: hsl(0, 0%, 15%);
  --bg-extra-secondary: hsl(0, 0%, 20%);
  --text-main: hsl(0, 0%, 95%);
  --text-alt: hsl(0, 0%, 85%);
  --main: hsl(222, 50%, 50%);
  --light-main: hsl(222, 50%, 60%);
  --lighter-main: hsl(222, 50%, 65%);

  /* --bg: hsl(0, 0%, 95%);
  --bg-secondary: hsl(0, 0%, 85%);
  --bg-extra: hsl(0, 0%, 90%);
  --text-main: hsl(0, 0%, 5%);
  --text-alt: hsl(0, 0%, 15%);
  --main-blue: hsl(222, 50%, 50%);
  --light-blue: hsl(222, 50%, 40%);
  --lighter-blue: hsl(222, 50%, 35%); */

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--bg);
  overscroll-behavior-y: none;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}


body {
  overscroll-behavior-y: none;
  margin: 0%;
  padding: 0%;
}

.app-container {
  overscroll-behavior: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.on {
  display: block;
}

.off {
  display: none;
}